@using TechTalkBlog.Services.Interfaces
@model IEnumerable<TechTalkBlog.Models.BlogPost>
@inject IImageService _imageService

@{
    ViewData["Title"] = "Index";
}



<!-- Start Author Area  -->
<partial name="_AuthorAreaPartial" />
<!-- End Author Area  -->
<!-- Start Post List Wrapper  -->
<div class="axil-post-list-area axil-section-gap bg-color-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title">
                    <h2 class="title mb--40">Welcome to my weblog!</h2>
                </div>
            </div>

            <!-- Start Post List  -->
            <div class="col-lg-8 col-xl-8">
                @* [List Blogs] *@
                @foreach(BlogPost blogPost in Model)
                {
                    <!-- blog card partial start  -->
                    <partial name="_BlogCardPartial" model="blogPost" />
                    <!-- blog card partial end  -->
                }
            </div>
            <!-- End Post List  -->


            <!-- Start Sidebar Area  -->
            <div class="col-lg-4 col-xl-4 mt_md--40 mt_sm--40">
                <partial name="_SideBarPartial" />
            </div>
            
            <!-- End Sidebar Area  -->

        </div>
    </div>
</div>
<!-- End Post List Wrapper  -->

